@{
    ViewData["Title"]= "Employee";
}
@model List<Employee>
<a class="btn btn-success" asp-action="Add">Add</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Age</th>
    <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var empoyee in Model){
 <tr>
    <th scope="row">@empoyee.Id</th>
    <td>@empoyee.Name</td>
    <td>@empoyee.Address</td>
    <td>@empoyee.Age</td>
    <td>@empoyee.Salary</td>
    <td><a class="btn btn-outline-danger" href="/Employee/Delete?id=@empoyee.Id">Delete</a></td>
    </tr>
    }
  </tbody>
</table>